<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title text-bg-success">Aplicacion con NodeJS y MongoDB</h5>
    <p class="card-text">Bienvenidos a nuestra Aplicacion de notas</p>
     <p class="card-text">Este es un sitio web para el registro de notas de los usuarios
       donde cada usuario tendra un almacen de notas de manera independiente</p>
  </div>
</div>